*{
    margin:0;
    padding:0;
}
body{
    background-color: linen;
}
.container{
    display:grid;
    grid-template-columns:20% 80%;
}
.sidebar{
    background-color:#7dd3fc;
    display:grid;
    height:100vh;
    grid-area: 1 / 1 / -1/ 2;
    grid-template-rows:auto auto 1fr;
    font-family:'Lato', sans-serif;
    color:snow;
    padding:1rem;
    gap:2em;
    
    

}
ul{
    display:block;
    list-style-type:disc;
    margin-block-start:1em;
    margin-block-end:1em;
    margin-inline-start: 0px;
    padding-inline-start:40px;
}
a{
    text-decoration:none;
    color:inherit;
}
.option{
    font-size:1.5rem;
    color:linen;

}
li{
    display:list-item;
    text-align:-webkit-match-parent;
}
.sidebar ul li{
    list-style:none;
    display:flex;
    gap:1rem;
    -webkit-box-align:center;
    align-items: center;
    

}
.sidebar .logo{
    display:flex; 
    -webkit-box-align:center;
    font-size:2em;
    align-items:center;
    font-weight:bold;
    gap:0.5rem;
}
.imglogo{


    height:5vh;
    width:5vw;
}
/* Main content */

.main{
    background-color:white;
    height:100vh;
    display:grid;
    grid-template-rows: 20% 80%;
}
.header{
    background-color: white;
    display: flex;
    flex-direction: column;
}
.content{
    background-color:#d4d4d4;
    display:grid;
    grid-template-columns: 70% 30% ;
}
.cards{
    display:grid;
    grid-template-columns: 50% 50%;
}



.navbar, .left{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-around;
    margin:5px 20px;
}
.form-input{
    width:35vw;
    background-color:#d4d4d4;
    border-radius:10px;
    border:1px solid #d4d4d4;
    margin-left:20px;
    margin-right:300px;
}
.welcome{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    margin:5px 20px;
}

.profilepic{
    object-fit:cover;
    border-radius:100px;
    height:4vh;
    margin:0 20px;
}
.profilepic-wlcm{
    margin:0 20px;
}
.right{
    display:flex;
    justify-content:space-between;
    flex-direction:row;
    align-items:center;
    width:30%;
    margin-right:20px;
}
.btn{
    background-color: #7dd3fc;
    width:70px;
    height:35px;
    color:white;
    border:1px solid #7dd3fc;
    border-radius:15px;
}
