* {
  margin: 0;
  padding: 0;
}
body {
  background-color: linen;
}
.container {
  display: grid;
  grid-template-columns: 20% 80%;
}
.sidebar {
  background-color: #0f172a;
  display: grid;
  grid-area: 1 / 1 / -1/ 2;
  grid-template-rows: auto auto 1fr;
  font-family: "Lato", sans-serif;
  color: #94a3b8;
  padding: 1rem;
  gap: 2em;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  padding-inline-start: 40px;
}
a {
  text-decoration: none;
  color: inherit;
}
.option {
  font-size: 1.5rem;
  
}
li {
  display: list-item;
  
}
.sidebar ul li {
  list-style: none;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
  align-items: center;
}
.sidebar .logo {
  display: flex;
  -webkit-box-align: center;
  font-size: 2em;
  align-items: center;
  font-weight: bold;
  gap: 0.5rem;
}
.imglogo {
  height: 5vh;
  width: 5vw;
}
/* Main content */

.main {
  background-color: white;
  height: 100vh;
  display: grid;
  grid-template-rows: 20% 80%;
}
.header {
  background-color: #4b5563;
  display: flex;
  flex-direction: column;
}
.content {
  background-color:#64748b;
  display: grid;
  grid-template-columns: 70% 30%;
}
.cards {
  display: grid;
  grid-template-columns: 50% 50%;
}

.navbar,
.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 5px 20px;
}
.form-input {
  width: 35vw;
  background-color: #d4d4d4;
  border-radius: 10px;
  border: 1px solid #d4d4d4;
  margin-left: 20px;
  margin-right: 300px;
}
.welcome {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 5px 20px;
}

.profilepic {
  object-fit: cover;
  border-radius: 100px;
  height: 4vh;
  margin: 0 20px;
}
.profilepic-wlcm {
  margin: 0 20px;
}
.right {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 30%;
  margin-right: 20px;
}
.btn {
  background-color: #0f172a;
  width: 70px;
  height: 35px;
  color: white;
  border: 1px solid #1e293b;
  border-radius: 15px;
}
.card{
    background-color:#e2e8f0;
    border-left:5px solid #919caf;
    border-radius:10px;
    width:80%;
    height:115px;
    margin:30px 0;
    margin-left: 20px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    padding-left:10px;
}

.icons{
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items:center;
    width:90%;
}
h5{
   font-size:18px; 
}
.card p{
    font-size:14px;
    color:#64748b;
    margin:10px 0;
}

h4{
    margin-left:25px;
    margin-top:20px;
}

.ann-trend{
    display:grid;
    grid-template-rows: 50% 50%;
}
.ann-card{
    height:80%;
    width:80%;
    background-color:#e2e8f0;
    border-radius:10px;
}

.trend-card{
    height:80%;
    width:80%;
    background-color:#e2e8f0;
    border-radius:10px;
}
.ann-text{
    padding: 10px 10px;
}
.ann-text h4, .trend-text h6{
    font-size:14px;
}
.ann-text p, .trend-text p{
    font-size: 12px;
    color:#737373;
}
.divider{
    border:0.5px solid #737373;
    width:80%;
    margin-left:20px;

}
.trend-card{
    height:80%;
    display:flex;
    flex-direction:column;
    justify-content: center;
}
.trend-image-text{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    margin:0 20px;
    padding:10px 0;
}
.trend-text{
    margin-left:20px;

}


i{
    transition:.5s ease-in-out;
}
.footer i:hover{
    rotate:2turn;
}